body {
font-family: Roboto, sans-serif;
color: #434455;
background-color: #fff;
}

ul {
list-style: none;
padding-left: 0;
margin: 0;
}

a {
text-decoration: none;
}

address {
font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
margin-top: 0;
margin-bottom: 0;
}

img {
display: block;
max-width: 100%;
height: auto;
}

.container {
width: 100%;
max-width: 1158px;
padding: 0 15px;
margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/** ========== Header ========== **/

.header {
border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF);
}

.header-container {
display: flex;
}

.logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.logo-black {
    color: #2e2f42;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    gap: 40px;
}

.navigation-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.navigation-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
}

.address {
    display: flex;
    margin-left: auto;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-link:active, .navigation-link:hover, .navigation-link:focus {
    color: var(--OCEAN, #404BBF);
}

.address-link {
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:active, .address-link:hover, .address-link:focus {
color: var(--OCEAN, #404BBF);
}

/** ================================= **/
/** ========== Main banner ========== **/

.banner {
background: var(--NAVY-BLUE, #2E2F42);
padding-top: 188px;
padding-bottom: 188px;
}

.header-banner {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    
}

.banner-btn {
font-family: Roboto, sans-serif;
color: var(--WHITE, #FFF);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
background-color: #4D5AE5;
border-radius: 4px;
border: none;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding: 16px 32px;
min-width: 169px;
display: block;
margin-left: auto;
margin-right: auto;
}

.banner-btn:active, .banner-btn:hover, .banner-btn:focus {
    background-color: #404BBF;
}

/** ================================= **/
/** ========== Our strengths ========== **/

.strengths {
background: #FFFFFF;
padding-top: 120px;
padding-bottom: 120px;
}

.strengths-list {
    display: flex;
    gap: 24px;
}

.strengths-list-item{
    width: calc((100% - 72px) / 4);
}

.strengths-list-header {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}

.strengths-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

/** ================================= **/
/** ============ Team ============ **/

.team {
background: var(--CLOUD, #F4F4FD);
padding-top: 120px;
padding-bottom: 120px;
}

.team-header {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
}

.team-list-container {
padding: 32px 0;
}

.team-list-name {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-list-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/** ================================= **/
/** ============ Portfolio ============ **/

.portfolio {
background: #FFFFFF;
padding-top: 120px;
padding-bottom: 120px;
}

.portfolio-header {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.portfolio-list-item {
    background: var(--WHITE, #FFF);
    text-align: start;
    width: calc((100% - 48px) / 3);
}

.portfolio-list-content {
    padding: 32px 16px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-top: none;
}
                    
.portfolio-list-header {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.portfolio-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/** ================================= **/
/** ============ Footer ============ **/

.footer {
background: var(--NAVY-BLUE, #2E2F42);
padding: 100px 0;

}

.logo-footer {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 115px;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-white {
color: #f4f4fd;
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

/** ================================= **/